<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <bean class="coreservlets.CollectionValues">
    <property name="varargsValues">
      <list>
        <value>abc</value>
      </list>
    </property>
    <property name="arrayValues">
      <list>
        <value>abc</value>
      </list>
    </property>
    <property name="listValues">
      <list>
        <value>abc</value>
      </list>
    </property>
    <property name="setValues">
      <list>
        <value>abc</value>
      </list>
    </property>
    <property name="collectionValues">
      <list>
        <value>abc</value>
      </list>
    </property>  
  </bean>
</beans>
