<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="values" class="coreservlets.di.factory.Values"
        factory-bean="valuesFactory"
        factory-method="newValuesInstance" />
    
  <bean id="valuesFactory" class="coreservlets.di.factory.ValuesFactory">
    <property name="stringValueFromInteger" value="123" />
    <property name="integerValueFromString" value="456" />
  </bean>       
</beans>
